<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>
<div class="container">
  <h1 class="mt-3"></h1>
  <form action="/admin/categories/save" method="POST">
    <div class="card">
      <div class="card-header">
        <h2>Cadastro de Categoria</h2>
      </div>
      <div class="card-body">
        <div class="form-floating mb-3">
          <input type="text" id="title" name="title" class="form-control" placeholder="Defina o título da categoria">
          <label for="title">Título</label>
        </div>
        <input type="submit" class="btn btn-success" value="Cadastrar">
      </div>
    </div>
  </form>
</div>
<%- include ('../../partials/footer') %>
