  <script src="http://localhost:8080/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function showDeleteConfimation(event, form) {
      event.preventDefault();
      const confirmed = confirm('Deseja realmente excluir o registro?');
      if(confirmed) form.submit();
    }
  </script>
</body>
</html>
